html {
    background-color: rgba(0, 0, 0, 1);
    ;
}

* {
    font-family: 'Armata', sans-serif;
    color: rgba(255, 255, 255, .49);
}

.section {}

.add-blang {
    font-size: 1.1em;
    width: 27em;
    margin-left: 3em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: .4em;
    position: relative;
    float: left;
    padding-right: -3em;
}

#label {
    text-align: right;
}

.hero {
    margin-bottom: .3em;
    margin-right: 0;
    width: 7.3em;
    color: rgba(255, 255, 255, .49);
}

.hero:hover {
    margin-bottom: .3em;
    color: rgba(255, 255, 255, .90);
}

.subHero {
    margin-top: -.7em;
}

.col-centered {
    float: left;
    margin: 1em;
    position: absolute;
}

.data {
    min-width: 54%;
    font-size: 1.3em;
    position: absolute;
    margin-left: 66%;
    margin-right: 1.2em;
    text-align: left;
    display: inline-block;
}

.finePrint {
    font-size: .7em;
    margin-right: 1em;
}

ul {
    padding: 0;
}

.index {
    min-height: 369px;
}

.row {
    width: auto;
}

#row {
    min-height: 12.25em;
    font-size: .8em;
    width: 100%;
    border: 3px solid;
    border-color: rgba(255, 255, 255, .20);
    overflow-x: hidden;
    overflow-y: hidden;
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 1.23em;
    margin-bottom: 1em;
    position: relative;
    background-color: rgba(255, 255, 255, .06);
}

#row:hover {
    height: 12.25em;
    font-size: .8em;
    width: 100%;
    border: 3px solid;
    border-color: rgba(255, 255, 255, .90);
    overflow-x: hidden;
    overflow-y: hidden;
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 1.23em;
    margin-bottom: 1em;
    position: relative;
    text-shadow: 0 0 .01em rgba(255, 255, 255, .40);
    box-shadow: 0 0 .5em rgba(255, 255, 255, .60);
}

.btn-delete {
    font-size: 1em;
    width: 2.5em;
    height: 1.5em;
    background-color: rgba(255, 255, 255, .27);
    color: #ffffff;
    position: relative;
    margin-top: .5em;
    margin-right: .5em;
    margin-left: .2em;
    float: right;
}

.btn-delete:hover {
    background-color: rgba(255, 255, 255, .37));
    border: 2px solid rgba(18, 22, 22, .37);
    box-shadow: 0 0 .09em #600aFA;
}

.btn-fresh {
    width: auto;
    background-color: rgba(255, 255, 255, .60);
    color: #ffffff;
    border-width: .5px;
    margin-top: 1.5em;
    margin-left: 3em;
    margin-bottom: 1em;
    position: relative;
}

.btn-fresh:hover {
    border: 2px solid rgba(255, 255, 255, .37);
    box-shadow: 0 0 .09em #600aFA;
}

header {
    width: 100vw;
    height: 200px;
}

#header {
    width: auto;
}

.img {
    width: 60%;
    height: 9em;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 2px solid rgba(255, 255, 255, .50);
    margin-top: .3em;
    margin-bottom: 1em;
    margin-left: -.6em;
    object-fit: cover;
    object-position: top;
    position: absolute;
    float: left;
    opacity: 49%;
}

.img:hover {
    width: 60%;
    height: 9em;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 2px solid rgba(255, 255, 255, .70);
    box-shadow: 0 0 .09em #52674A;
    backface-visibility: visible;
    margin-top: .3em;
    margin-bottom: 1em;
    margin-left: -.6em;
    object-fit: cover;
    opacity: 100%;
    position: absolute;
    float: left;
}

#summary {
    font-size: 1em;
    margin-left: -11px;
    margin-bottom: 2em;
    text-align: center
}

#ruleOne {
    margin-left: 7px;
    width: 22em;
    border-color: rgba(255, 255, 255, .40);
}

#ruleZero {
    margin-top: .18em;
    margin-left: 7px;
    width: 22em;
    border-color: rgba(255, 255, 255, .40);
}

.blangList {}

#email {
    margin-top: .18em;
}

#email:hover {
    color: rgba(255, 255, 255, .90);
}

#twitter:hover {
    content: URL("../sprites/twitter_logo_white_hover.png");
}

#github:hover {
    content: URL("../sprites/github_logo_white_hover.png");
}

#linkedin:hover {
    content: URL("../sprites/linkedin_logo_white_hover.png");
}

#summary:hover {
    color: rgba(255, 255, 255, .90);
}

.vertical-align {
    align-items: center;
}

